Day 16-1. 정규 표현식이란: Regular Expression

Day 16-2. search, match, findall 함수로 문자열 찾기

In [19]:
import re


result = re.search("정규", "정규 표현식 다루기: Regular expression")
if result:
    print("Match")
else:
    print("Not Found")
# 출력: Match

result = re.search("예시", "정규 표현식 다루기: Regular expression")
if result:
    print("Match")
else:
    print("Not Found")

Match
Not Found

In [20]:
import pandas as pd

# COVID 데이터프레임으로 저장
file_path1 = '/Users/chae/Desktop/TaiLab_Severance_Hospital/III_정형데이터_다루기/dataset/COVID clinical trials.csv'
df = pd.read_csv(file_path1)
df.Conditions.head(10)

0                                              Covid19
1                                 SARS-CoV-2 Infection
2                                              covid19
3                                                COVID
4    Maternal Fetal Infection Transmission|COVID-19...
5                                             COVID 19
6                      Covid19|Exclusive Breastfeeding
7                               Covid19|Type2 Diabetes
8                                              Covid19
9    COVID-19 Infection|Cancer Patients|General Pop...
Name: Conditions, dtype: object

In [21]:
# 'Covid'로 시작하는 문자열 찾기위한 패턴 컴파일
pattern = re.compile("^Covid")

# 'Conditions' 모든 값을 가져와 'Covid'로 시작하는 값을 가진 행 저장
filtered_df = df[df['Conditions'].apply(lambda x: bool(pattern.search(x)))]

# filtered_df 데이터프레임 확인
filtered_df[['Rank', 'NCT Number','Conditions']].head(10)

    Rank   NCT Number                       Conditions
0      1  NCT04785898                          Covid19
6      7  NCT04476940  Covid19|Exclusive Breastfeeding
7      8  NCT04634214           Covid19|Type2 Diabetes
8      9  NCT04602884                          Covid19
11    12  NCT04412265                          Covid19
12    13  NCT04659759                          Covid19
14    15  NCT04842708                          Covid19
16    17  NCT04609969     Covid19|SARS-CoV-2 Infection
18    19  NCT04632355                          Covid19
19    20  NCT04407585                         Covid-19

In [22]:
# *: 'Covi' 다음에 'd'가 0번 이상 반복되는 문자열을 찾기위한 규칙 만들기
pattern = re.compile("Covid*")

# {n}: 'Covi' 다음에 'd'가 정확히 3번 반복되는 문자열 찾기위한 규칙 만들기
pattern = re.compile("Covid{3}")

# {n,m}: 'Covi' 다음에 'd'가 2번에서 4번 반복되는 문자열 찾기위한 규칙 만들기
pattern = re.compile("Covid {2,4}")

# [ ]: 'Covid' 뒤에 '19' 또는 '20'이 오는 문자열 찾기위한 규칙 만들기
pattern = re.compile("Covid [19|20] ")

In [23]:
# 'Covid19' 값을 pattern2로 컴파일
pattern2 = re.compile("Covid19")

#  df['Conditions']의 값 중'Covid19'로 시작하는 값을 가진 행만 데이터프레임에 저장
filtered_df2 = df[df[ 'Conditions' ].apply(lambda x: bool( pattern2.match(x) ))]

# Rank, NCT Number, Conditions 3개 열 상위 10 행 출력
filtered_df2[['Rank', 'NCT Number','Conditions']].head(10)

    Rank   NCT Number                                 Conditions
0      1  NCT04785898                                    Covid19
6      7  NCT04476940            Covid19|Exclusive Breastfeeding
7      8  NCT04634214                     Covid19|Type2 Diabetes
8      9  NCT04602884                                    Covid19
11    12  NCT04412265                                    Covid19
12    13  NCT04659759                                    Covid19
14    15  NCT04842708                                    Covid19
16    17  NCT04609969               Covid19|SARS-CoV-2 Infection
18    19  NCT04632355                                    Covid19
20    21  NCT04657510  Covid19|Femur Fracture|Fragility Fracture

In [24]:
import re

result = re.findall("ex", "example word , example sentence exex")
print(result)

['ex', 'ex', 'ex', 'ex']

In [25]:
# University로 시작 (^)하는 경우 패턴으로 컴파일
pattern3 = re.compile("^University")

# df['Sponsor/Collaborators']  열의 값들 중 University로 시작하는 값을 가진 행만 저장
filtered_df3 = df[df[ 'Sponsor/Collaborators' ].apply(lambda x: bool(pattern3.findall(x)))]
filtered_df3[['Rank', 'NCT Number','Sponsor/Collaborators']].head(10)

    Rank   NCT Number                              Sponsor/Collaborators
2      3  NCT04395482                       University of Milano Bicocca
11    12  NCT04412265                       University of Milano Bicocca
13    14  NCT04427332                       University of Milano Bicocca
23    24  NCT04549831  University of Siena|Policlinico San Matteo Pav...
24    25  NCT04706390  University of Bergen|Haukeland University Hosp...
25    26  NCT04632719                            University of Sao Paulo
26    27  NCT04427345                       University of Milano Bicocca
28    29  NCT04407494                   University Hospital, Montpellier
29    30  NCT04360811                      University Hospital, Toulouse
34    35  NCT04691895                              University of Bologna

Day 16-3. split, sub 함수로 문자열 분리 및 변경하기

In [26]:
# \d: (숫자)를 패턴으로 사용하여 문자열 분할:
result = re.split("\d", "doctor3patients4pediatrics567")
print(result)

['doctor', 'patients', 'pediatrics', '', '', '']

In [27]:
# \s: (공백 문자)를 패턴으로 사용하여 문자열 분할 
result = re.split("\s", "doctor patients pediatrics")
print(result)

['doctor', 'patients', 'pediatrics']

In [28]:
df['Locations'].head()

0    Groupe Hospitalier Paris Saint-Joseph, Paris, ...
1         Cimedical, Barranquilla, Atlantico, Colombia
2    Ospedale Papa Giovanni XXIII, Bergamo, Italy|P...
3    Hong Kong Sanatorium & Hospital, Hong Kong, Ho...
4                         CHR Orléans, Orléans, France
Name: Locations, dtype: object

In [29]:
df['Locations_split'] = df['Locations'].apply(lambda x: re.split(" ", str(x)))
df[['Locations','Locations_split']].head()

,Locations,Locations_split
0,"Groupe Hospitalier Paris Saint-Joseph, Paris, ...","[Groupe, Hospitalier, Paris, Saint-Joseph,, Pa..."
1,"Cimedical, Barranquilla, Atlantico, Colombia","[Cimedical,, Barranquilla,, Atlantico,, Colombia]"
2,"Ospedale Papa Giovanni XXIII, Bergamo, Italy|P...","[Ospedale, Papa, Giovanni, XXIII,, Bergamo,, I..."
3,"Hong Kong Sanatorium & Hospital, Hong Kong, Ho...","[Hong, Kong, Sanatorium, &, Hospital,, Hong, K..."
4,"CHR Orléans, Orléans, France","[CHR, Orléans,, Orléans,, France]"

In [30]:
text = "123 hospital , 456 doctor"
result = re.sub("\\d+", "Severance", text)
print(result)

Severance hospital , Severance doctor

In [31]:
# 패턴: [^a-zA-Z]
df['Locations_processed'] = df['Locations'].apply(lambda x: re.sub('[^a-zA-Z]', ' ', str(x)))
df['Locations'][3]
# 출력: Hong Kong Sanatorium & Hospital, Hong Kong, Hong Kong'


# 알파벳을 제외한 모든 문자 대체
df['Locations_processed'][3]
# 출력: Hong Kong Sanatorium   Hospital  Hong Kong  Hong Kong

'Hong Kong Sanatorium   Hospital  Hong Kong  Hong Kong'