Day 09-1. 테이블 데이터 탐색

In [1]:
import pandas as pd
csv_path = '/Users/chae/Documents/GitHub/2023-24_Severance_Hospital/WikiDocs_의료영상_인공지능의_모든것/III_정형데이터_다루기/dataset/Heart Failure Clinical Records.csv'
df_hf = pd.read_csv(csv_path)

In [2]:
df_hf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [3]:
df_hf.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [4]:
df_hf.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [5]:
df_hf.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [6]:
df_hf.shape

(299, 13)

09-2. 테이블 데이터 선택

In [7]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [8]:
df ['max_speed']

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [9]:
df[['max_speed', 'shield']]

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [10]:
df.loc ['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [11]:
df.loc[[ 'viper' , 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [12]:
df.loc[ 'cobra' , 'shield']

2

In [13]:
df.loc['viper', 'max_speed']

4

In [14]:
df.loc[ 'cobra' : 'viper' , 'max_speed' ]

cobra    1
viper    4
Name: max_speed, dtype: int64

In [15]:
type(df.iloc[0])

pandas.core.series.Series

In [16]:
df.iloc [[0]]

       max_speed  shield
cobra          1       2

In [17]:
df.iloc[[0 , 1]]

       max_speed  shield
cobra          1       2
viper          4       5

In [18]:
df.iloc [ : 3]

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8