Day 14-1. 시간데이터 생성하기

In [1]:
from datetime import date

dy1 = date(2023, 9, 8)
dy1

datetime.date(2023, 9, 8)

In [2]:
dy2 = date.today()
print(dy2)

# 날짜 일, 월, 년 정보를 순서대로 출력
print('Day :' , dy2.day)
print('Month :' , dy2.month)
print('Year :' , dy2.year)

2025-07-22
Day : 22
Month : 7
Year : 2025

In [3]:
from datetime import time
# 시간 객체 생성: 시, 분, 초, 마이크로초
tm1 = time(13, 20, 13, 40)
print(tm1)

13:20:13.000040

In [4]:
print('Hour :' , tm1.hour)
print('Minute :' , tm1.minute)
print('Second :' , tm1.second)
print('Microsecond :' , tm1.microsecond)

Hour : 13
Minute : 20
Second : 13
Microsecond : 40

In [5]:
import datetime
import numpy as np
import pandas as pd

# 다양한 날짜 형식: 1/1/2023 , 2023-01-01 , 2023,1,1
dti = pd.to_datetime(["1/1/2023", np.datetime64("2023-01-01"), datetime.datetime(2023, 1, 1)])
print(dti)

DatetimeIndex(['2023-01-01', '2023-01-01', '2023-01-01'], dtype='datetime64[ns]', freq=None)

In [6]:
# 2023년 9월 8일
pd.to_datetime("2023/09/08", format = "%Y/%m/%d")


# 2023년 9월 8일 10시 9분
pd.to_datetime("08-09-2023 10:09", format = "%d-%m-%Y %H:%M")

Timestamp('2023-09-08 10:09:00')

In [7]:
covid_path = '/Users/chae/Documents/GitHub/2023-24_Severance_Hospital/WikiDocs_의료영상_인공지능의_모든것/III_정형데이터_다루기/dataset/COVID clinical trials.csv'
# COVID 데이터 불러오기
df = pd.read_csv(covid_path)
# COVID 각 열 2개 상위 3행으로 데이터프레임 생성
test = df[['Start Date', 'Completion Date']].head(3)
print (test)
print (df['Start Date'].dtype)

         Start Date   Completion Date
0  November 9, 2020    April 30, 2021
1  November 2, 2020  January 29, 2021
2       May 7, 2020     June 15, 2021
object

In [8]:
# datetime.strptime 함수로 날짜 객체 (%B %d, %Y)로 설정
test['d_std'] = test['Start Date'].apply(lambda x: datetime.datetime.strptime(x, '%B %d, %Y'))
print(test)

         Start Date   Completion Date      d_std
0  November 9, 2020    April 30, 2021 2020-11-09
1  November 2, 2020  January 29, 2021 2020-11-02
2       May 7, 2020     June 15, 2021 2020-05-07

In [9]:
column_dtype = test['d_std'].dtype
print(column_dtype)

datetime64[ns]

In [10]:
# date (2자리)/ month (2자리)/ year (4자리) hour (24시간) : minute (2자리) 로 표현
test['d_std_date'] = test['d_std'].apply(lambda x: x.strftime('%d/%m/%Y %H:%M'))
test

         Start Date   Completion Date      d_std        d_std_date
0  November 9, 2020    April 30, 2021 2020-11-09  09/11/2020 00:00
1  November 2, 2020  January 29, 2021 2020-11-02  02/11/2020 00:00
2       May 7, 2020     June 15, 2021 2020-05-07  07/05/2020 00:00

In [11]:
# Start Date와 Completion Date를 timedelta 객체로 변환

test['d_std'] = pd.to_datetime(test['Start Date'], format='%B %d, %Y', errors='coerce')
test['d_comp'] = pd.to_datetime(test['Completion Date'], format='%B %d, %Y', errors='coerce')

test['duration'] = test['d_comp'] - test['d_std']
test

,Start Date,Completion Date,d_std,d_std_date,d_comp,duration
0,"November 9, 2020","April 30, 2021",2020-11-09,09/11/2020 00:00,2021-04-30,172 days
1,"November 2, 2020","January 29, 2021",2020-11-02,02/11/2020 00:00,2021-01-29,88 days
2,"May 7, 2020","June 15, 2021",2020-05-07,07/05/2020 00:00,2021-06-15,404 days

In [12]:
from datetime import datetime, timedelta
test['duration_hr'] = test['duration'].apply(lambda x: x/timedelta(hours = 1))
test['duration_min'] = test['duration'].apply(lambda x: x/timedelta(minutes = 1))
test['duration_sec'] = test['duration'].apply(lambda x: x/timedelta(seconds = 1))
test

,Start Date,Completion Date,d_std,d_std_date,d_comp,duration,duration_hr,duration_min,duration_sec
0,"November 9, 2020","April 30, 2021",2020-11-09,09/11/2020 00:00,2021-04-30,172 days,4128.0,247680.0,14860800.0
1,"November 2, 2020","January 29, 2021",2020-11-02,02/11/2020 00:00,2021-01-29,88 days,2112.0,126720.0,7603200.0
2,"May 7, 2020","June 15, 2021",2020-05-07,07/05/2020 00:00,2021-06-15,404 days,9696.0,581760.0,34905600.0